<?xml version="1.0"?>
<config>
    <modules>
        <Company_Authors>
            <version>0.1.0</version>
        </Company_Authors>
    </modules>
    <global>
        <models>
            <Company_authors>
                <class>Company_Authors_Model</class>
                <resourceModel>Company_authors_resource</resourceModel>
            </Company_authors>
            <Company_authors_resource>
                <class>Company_Authors_Model_Resource</class>
                <entities>
                    <authors>
                      <table>Company_authors_authors</table>
                    </authors>
                </entities>
            </Company_authors_resource>
        </models>
        <blocks>
            <Company_authors>
                <class>Company_Authors_Block</class>
            </Company_authors>
        </blocks>
        <helpers>
            <Company_authors>
                <class>Company_Authors_Helper</class>
            </Company_authors>
        </helpers>
        <resources>
            <Company_authors_setup>
                <setup>
                    <module>Company_Authors</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Company_authors_setup>
            <Company_authors_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Company_authors_setup_write>
            <Company_authors_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Company_authors_setup_read>
        </resources>
        <rewrite>
            <Company_authors_author_index>
                <from>#^/autor\/?(.*)#</from>
                <to>/autor/author/index/authorUrlKey/$1</to>
                <complete>1</complete>
            </Company_authors_author_index>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <Company_authors>
                <use>standard</use>
                <args>
                    <module>Company_Authors</module>
                    <frontName>autor</frontName>
                </args>
            </Company_authors>
        </routers>
        <layout>
            <updates>
                <Company_authors>
                    <file>Company/author/author.xml</file>
                </Company_authors>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Company_authors before="Mage_Adminhtml">Company_Authors_Adminhtml</Company_authors>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <get_authors_from_products>
                <schedule><cron_expr>0 1 31 1 *</cron_expr></schedule>
                <run><model>Company_authors/authors::massMakeTableForAuthors</model></run>
            </get_authors_from_products>
        </jobs>
    </crontab>
</config>


